<div id="footer" class="panel" >
  <div class="panel-footer" style="background-color:#333333">
	<div class="container-fluid" >
	  <div class="row">

	  	<!--div class="col-sm-2" style="color: white">
			<a href="https://iiti.ac.in"><img src="{{ site.url }}{{ site.baseurl }}/images/logopic/iitilogo.png" width="125px"></a>
    	        </div-->

		<div class="col-sm-4" >
			<b style="color: DodgerBlue">CONTACT US</b>
		  <p style="color:white">IIT Indore,<br>
		  Khandwa Road, Simrol<br />
		  Indore , India<br /></p>
            (<a href="https://goo.gl/maps/yTYThnmYL8ajDqx77" style="color: #62FFFF;">Maps</a>, <a href="http://cse.iiti.ac.in/reach_iiti.php" style="color: #62FFFF;">Directions</a>)</b>

	    </div>

		  <div class="col-sm-5" >
			  <b style="color:DodgerBlue;">QUICK LINKS </b>
			 <ul  >
				 <li><a href="https://iiti.ac.in" > <b style="color:white">IIT Indore</b></a></li>
				 <li><a href="https://ekbharat.gov.in/" ><b style="color:white">EkBharat.gov.in</b></a></li>
				 <li><a href="https://swachhbharatmission.gov.in/" ><b style="color:white">SwachhBharatMission.gov.in</b></a></li>
			  	 <li><a href="https://unnatbharatabhiyan.gov.in"><b style="color:white">UnnatBharatAbhiyan.gov.in</b></a></li>
			  </ul>
    		</div>
    <div class="col-sm-3">
      <a href="https://www.iiti.ac.in"><img src="{{site.url}}{{site.baseurl}}/images/rsz_iiti2.png" width="150" height="150"></a>
    </div>


			<b><p style="align:center;color:white">All rights reserved @ 2020<b style="color:#00FF00"> IIT Indore</b>|Site created by  <a href="mailto:ms1904101007@iiti.ac.in" style="color:#00FF00"> Shatendra Singh</a></p>




  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
