
<div class="col-sm-12" style="padding-left: 0px;padding-right: 0px;margin-right:0px;">
	<a class="twitter-timeline" data-lang="en" data-height="350" data-theme="dark" href=" https://twitter.com/IITIofficial?ref_src=twsrc%5Etfw">Tweets by IIT Indore</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<hr>

<a class="twitter-timeline" data-lang="en" data-height="350" data-theme="dark" href=" https://twitter.com/swachhbharat?lang=en">Tweets by SBA</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<br>

 </div>
<br>
